<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>充值记录</title>
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Cache-Control" content="must-revalidate,no-cache"/>
    <meta name="application-name" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <script type="text/javascript" th:src="@{/js/jQuery_1.10.2.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
    <script type="text/javascript" th:src="@{/laydate/laydate.js}"></script>
    <script th:inline="javascript">
        var pageUrl = "/ttmj/server/ua/recharge/list?";
    </script>
</head>
<body>
<div class="top" th:include="menu_top :: menu_top"></div>
<div class="main">
    <div class="left lefto" th:include="menu_left :: menu_left"></div>
    <div class="right">
        <div class="shuju">
            <h3><i id="btn1"></i>用户分析 &gt;充值记录</h3>
            <table class="search-tab">
                <tbody>
                <tr>
                    <th width="60">日期选择：</th>
                    <td><input type="text" class="inp inp1" name="condition" readonly="readonly"
                               th:value="${condition[0]}"
                               onClick="laydate({istime: true, format: 'YYYY-MM-DD 00:00:00'})"/></td>
                    <th width="60">至</th>
                    <td><input type="text" class="inp inp1" name="condition" readonly="readonly"
                               th:value="${condition[1]}"
                               onClick="laydate({istime: true, format: 'YYYY-MM-DD 23:59:59'})"/></td>
                    <th>ID查找：</th>
                    <td><input type="text" class="inp"  th:value="${condition[2]}"  name="condition"/></td>
                    <th>渠道选择：</th>
                    <td><input type="text" class="inp" name="condition"/></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="javascript:search()" class="btn3">搜索</a></td>
                    <td colspan="2"><a href="javascript:search()" class="btn3">刷新</a></td>
                    <td colspan="2"><a href="javascript:search()" class="btn3">导出</a></td>
                </tr>
                </tbody>
            </table>
            <ul class="tab1x">
                <li class="db ww">
                <table width="1600px" border="0" cellspacing="0" class="tabl tac mgt20">
                    <thead>
                    <tr>
                        <td>订单号</td>
                        <td>下单玩家ID</td>
                        <td>VIP等级</td>
                        <td>下单时间</td>
                        <td>渠道</td>
                        <td>充值类型</td>
                        <td>RMB</td>
                        <td>记录类型</td>
                        <td>道具类型</td>
                        <td>来源</td>
                        <td>明细</td>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr th:each="data,dataStat:${page.content}">
                        <td th:text="${data.orderID}">001</td>
                        <td th:text="${data.userID}">1380000011600003</td>
                        <td th:text="${data.vip}">001</td>
                        <td th:text="${#dates.format(data.createTime,'yyyy-MM-dd HH:mm:ss')}">001</td>
                        <td th:text="${data.channel}">1380000011111</td>
                        <td th:text="${data.chargeType}">001</td>
                        <td th:text="${data.amount}">001</td>
                        <td th:text="${data.typeName}">001</td>
                        <td th:text="${data.propName}">001</td>
                        <td th:text="${data.producerName}">001</td>
                        <td>
                            <a th:href="@{/server/ua/recharge/detail(orderId=${data.orderID})}" class="mr25">
                                查看明细</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </li>
            </ul>
            <div class=" page tac" th:include="search_page :: search_page"></div>
        </div>
    </div>
</div>
</body>
</html>
