<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>金币道具</title>
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Cache-Control" content="must-revalidate,no-cache"/>
    <meta name="application-name" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <script type="text/javascript" th:src="@{/js/jQuery_1.10.2.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
    <script type="text/javascript" th:src="@{/laydate/laydate.js}"></script>
    <script th:inline="javascript">
        var pageUrl = "/ttmj/server/bt/gold/list?";
    </script>
</head>
<body>
<div class="top" th:include="menu_top :: menu_top"></div>
<div class="main">
    <div class="left lefto" th:include="menu_left :: menu_left"></div>
    <div class="right">
        <div class="shuju">
            <h3><i id="btn1"></i>后台事务 &gt;金币道具</h3>
            <table class="search-tab">
                <tbody>
                <tr>
                    <td colspan="4"><b class="f14">调整金币</b></td>
                </tr>
                <tr>
                    <th width="90">发送给:</th>
                    <td><input alt="发送给(UerID)" type="text" class="inp w240" id="goldUserID" name="goldUserID"/></td>
                    <th width="90">数量:</th>
                    <td><input type="number" class="inp w240" id="goldCount" name="goldCount"/></td>
                </tr>
                <tr>
                    <th width="90">说明:</th>
                    <td colspan="3"><input type="text" class="inp_long" id="goldDesc" name="goldDesc"/></td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <p><a id="goldSaveLink" href="javascript:goldFormSubmit()" class="btn2 mr25">提交</a></p>
                    </td>
                </tr>
                <tr>
                    <th colspan="4">&nbsp;</th>
                </tr>
                <tr>
                    <td colspan="4"><b class="f14">调整道具</b></td>
                </tr>
                <tr>
                    <th width="90">发送给:</th>
                    <td><input alt="发送给(UerID)" type="text" class="inp w240" id="propUserID" name="propUserID"/></td>
                    <th width="90">透视卡:</th>
                    <td><input type="number" class="inp w240" id="tsCount" name="tsCount"/></td>
                </tr>
                <tr>
                    <th width="90">捣蛋卡:</th>
                    <td><input type="number" class="inp w240" id="zdCount" name="zdCount"/></td>
                </tr>
                <tr>
                    <th width="90">说明:</th>
                    <td colspan="3"><input type="text" class="inp_long" id="propDesc" name="propDesc"/></td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <p><a id="propSaveLink" href="javascript:propFormSubmit()" class="btn2 mr25">提交</a></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function goldFormSubmit() {
        if (isEmpty($("#goldUserID").val())) {
            layer.msg("用户ID不能为空", {icon: 2, time: 1000});
            $("#goldUserID").focus();
            return false;
        }
        if (isEmpty($("#goldCount").val())) {
            layer.msg("金币数量不能为空", {icon: 2, time: 1000});
            $("#goldCount").focus();
            return false;
        }

        $("#goldSaveLink").removeAttr('href');

        $.post("/ttmj/server/bt/gold/saveGold", {
            "userId": $("#goldUserID").val(),
            "gold": $("#goldCount").val()
        }, function (data) {
            if (data.isCorrect == 1) {
                layer.alert(data.msg, {
                    icon: 1, btn: ['确定'], yes: function () {
                        window.location.href = "/ttmj/server/bt/gold/list";
                    }
                });
            } else {
                $("#goldSaveLink").attr('href', 'javascript:goldFormSubmit()');
                layer.alert(data.msg, {
                    icon: 2, btn: ['确定']
                });
            }
        }, "json")
    }

    function propFormSubmit() {
        if (isEmpty($("#propUserID").val())) {
            layer.msg("用户ID不能为空", {icon: 2, time: 1000});
            $("#propUserID").focus();
            return false;
        }
        if (isEmpty($("#tsCount").val())) {
            layer.msg("透视卡数量不能为空", {icon: 2, time: 1000});
            $("#tsCount").focus();
            return false;
        }
        if (isEmpty($("#zdCount").val())) {
            layer.msg("捣蛋卡数量不能为空", {icon: 2, time: 1000});
            $("#zdCount").focus();
            return false;
        }

        $("#propSaveLink").removeAttr('href');

        $.post("/ttmj/server/bt/gold/saveProp", {
            "userId": $("#propUserID").val(),
            "ts": $("#tsCount").val(),
            "zd": $("#zdCount").val()
        }, function (data) {
            if (data.isCorrect == 1) {
                layer.alert(data.msg, {
                    icon: 1, btn: ['确定'], yes: function () {
                        window.location.href = "/ttmj/server/bt/gold/list";
                    }
                });
            } else {
                $("#propSaveLink").attr('href', 'javascript:propFormSubmit()');
                layer.alert(data.msg, {
                    icon: 2, btn: ['确定']
                });
            }
        }, "json")
    }
</script>
</body>
</html>
