<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>无标题文档</title>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>

<body style="background-color:#fff">
<table class="search-tab mgt20">
    <tbody>
    <tr>
        <th>原密码：</th>
        <td><input id="oldPassword" name="oldPassword" type="password" class="inp"/></td>
    </tr>
    <tr>
        <th>新密码：</th>
        <td><input id="newPassword" name="newPassword" type="password" class="inp"/></td>
    </tr>
    <tr>
        <th>确认新密码：</th>
        <td><input id="confirmPassword" name="confirmPassword" type="password" class="inp"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>
