<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>用户管理</title>
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Cache-Control" content="must-revalidate,no-cache"/>
    <meta name="application-name" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <script type="text/javascript" th:src="@{/js/jQuery_1.10.2.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
    <script type="text/javascript" th:src="@{/laydate/laydate.js}"></script>
</head>
<body>
<div class="top" th:include="menu_top :: menu_top"></div>
<div class="main">
    <div class="left lefto" th:include="menu_left :: menu_left"></div>
    <div class="right">
        <div class="shuju">
            <h3><i id="btn1"></i>独立包管理 &gt;提示</h3>
            <table class="search-tab">
                <tbody>
                <tr>
                    <td>导入成功，点击 <a href="/kindle/server/data/list">返回</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
